{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <title>Search</title>

{% endblock %}

{% block body %}
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">Search people</a>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a class="btn btn-outline-secondary btn-sm" type="button">Dashboard</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="s01">
    <form action="{{ path('search') }}" target="_blank">
        <div class="inner-form">
            <div class="input-field first-wrap">
                <input required id="search" type="text" name="_firstname" placeholder="Firstname" />
            </div>
            <div class="input-field first-wrap">
                <input required id="search" type="text" name="_lastname" placeholder="Lastname" />
            </div>
            <div class="input-field third-wrap">
                <input required id="location" type="text"  name="_city" placeholder="City" />
            </div>
            <div class="input-field third-wrap">
                <input required id="location" type="text"  name="_state" placeholder="State" />
            </div>
            <div class="input-field third-wrap">
                <input class="btn-search" type="submit" value="Search">
            </div>
        </div>
    </form>
</div>
{% endblock %}